{% load staticfiles %}

{% include "header.html" %}
<body>
  {% include "navbar.html" %}
	<div class="container">   
	    <div class="section dark-grey-background"  >
	        <h1 class="red text-center" style="margin-bottom:50px;">Critical Patients</h1>
	        <div class="container-1200px row landing-section">
	        	<div class="col-3">
	        		Bot Name
	        	</div>
	        	<div class="col-3">
	        		Current position
	        	</div>  
	        	<div class="col-3">
	        		Enter destination
	        	</div>  
	        </div>
	        <div class="container-1200px row landing-section">
	        	<div class="col-3">
	        		Bot 1
	        	</div>
	        	<div class="col-3">
	        		Node 3
	        	</div>
	        	<div class="col-3">
	        		<div class="form-group">
	        			<input class="form-control" type="number" placeholder="destination">
	        		</div>
	        	</div>    
	        </div>
	    </div>

	</div>      
</body>